body{
	margin: 0;
}

header{
	background: #143E9F;
	padding:20px;
}

#kentParker{
	 font-family: Verdana;
	 margin: 0;
	 color: white;
	 display:inline;
}

#kentParker a{
	color:white;
	text-decoration:none;
}

.nav-bar ul{
	display:inline;
	margine:0;
	padding-left: 900px;
}

.nav-bar ul li{
	display: inline-block;
	margin: 0;
	color:white;
	list-style-type: none;
	font-family: Verdana;	
    padding:10px;
}

.nav-bar ul li a{
    text-decoration:none;
    color: white;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 7px;
    color: white;
}

.nav-bar ul li a:active {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 7px;
    color: white;
}