body{
	margin:0;

}
.row-blank{
	background: white;
	padding-bottom: 20px;
	margin:0;
}

.row-form h3{
	text-align:center;
	padding-bottom:30px;
}

.altSignIn h4{
	display:inline;
}

.altSignIn ul {
	display:inline;
}
.altSignIn ul li {
	
	display:inline-block;
	list-style-type: none;
}

.altSignIn ul li a{
	padding:7px;
	margin-right:3px;
}
.altSignIn ul li a:hover{
     background:#337AB7;
     color:#FFFFFF;
}

.signUp{
	padding-top:10px;
}

#form{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


