html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background: #A7A8A8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left , #942B27, #333B86); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,#942B27,#333B86); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( right, #942B27, #333B86); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #942B27, #333B86); /* Standard syntax */

} 

.rights{
	color:white;
	text-align: center;
}

/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
