
/*------------------NAVBAR-----------------*/
body{
	margin: 0;
}

header{
	background: #143E9F;
	padding:20px;
}

#kentParker{
	 font-family: Verdana;
	 margin: 0;
	 color: white;
	 display:inline;
}

#kentParker a{
	color:white;
	text-decoration:none;
}

.nav-bar ul{
	display:inline;
	margine:0;
	padding-left: 900px;
}

.nav-bar ul li{
	display: inline-block;
	margin: 0;
	color:white;
	list-style-type: none;
	font-family: Verdana;	
    padding:10px;
}

.nav-bar ul li a{
    text-decoration:none;
    color: white;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 7px;
    color: white;
}

.nav-bar ul li a:active {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 7px;
    color: white;
}

/*------------------FOOTER-----------------*/

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background: #A7A8A8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left , #942B27, #333B86); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,#942B27,#333B86); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( right, #942B27, #333B86); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #942B27, #333B86); /* Standard syntax */

} 

.rights{
	color:white;
	text-align: center;
}

/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}


/*------------------AboutPage-----------------*/

.row-about{
	font-family:  georgia, serif;
	color:#143E9F;
	font-weight: bold;
	letter-spacing: 7px;
	padding-bottom:20px;
}

.row-blank{
	background: white;
	padding-bottom: 60px;
}

.img-jamar{
	border-radius:0;
	width: 248px;
	height: 235px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption{
	font-weight: bold;
	font-family: Verdana;
	position:relative;
	padding-top: 10px;
}

.description{
	padding-top:15px;
	font-size: 19px;
	font-family: Arial;
	letter-spacing: .25px;
	color: #575959;
}

/*------------------KPSignUpPage-----------------*/

#signUpA{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signUpA h3{
	text-align:center;
}

/*------------------SignInPage-----------------*/

.row-blank-signUp{
	background: white;
	padding-bottom: 20px;
	margin:0;
}

.row-form h3{
	text-align:center;
	padding-bottom:30px;
}

.altSignIn h4{
	display:inline;
}

.altSignIn ul {
	display:inline;
}
.altSignIn ul li {
	
	display:inline-block;
	list-style-type: none;
}

.altSignIn ul li a{
	padding:7px;
	margin-right:3px;
}
.altSignIn ul li a:hover{
     background:#337AB7;
     color:#FFFFFF;
}

.signUp{
	padding-top:10px;
}

#form{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------MediaOutletSignUpPage-----------------*/

#mediaOutletSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:#FFFFFF;
}

#mediaOutletSignUp h3{
	text-align:center;
}

/*------------------NewsReaderSignUpPage-----------------*/

#newsreaderSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newsreaderSignUp h3{
	text-align:center;
}

/*------------------NewsmakerSignUpPage-----------------*/

#newsmakerSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newsmakerSignUp h3{
	text-align:center;
}

/*------------------FinalSignUpPage-----------------*/

#finalSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#finalSignUp h3{
	text-align:center;
}



