
/*------------------NAVBAR-----------------*/
body{
	margin: 0;
}

header{
	background: #143E9F;
	padding:30px 0 30px 20px;
	width:100%;

}
#kentParker{
	 font-family: Verdana;
	 margin: 0;
	 color: white;
	 display:inline;
}



#kentParker a{
	color:white;
	text-decoration:none;
}

.myNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-top:.4px solid white;
}

.myNavbar li {
	float: left;
}

.myNavbar li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

.myNavbar li a:hover {
	background-color: #777;
}

.myNavbar li.icon {
	display: none;
}



@media screen and (max-width:680px) {
  .myNavbar li:not(:first-child) {
  	display: none;
  }
  .myNavbar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
 .myNavbar.responsive {
 	position: relative;
 }
  ul.myNavbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 .myNavbar.responsive li {
    float: none;
    display: inline;
  }
 .myNavbar.responsive li a {
    display: block;
    text-align: left;
  }
}


/*------------------FOOTER-----------------*/

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;
	background: #868687; /* For browsers that do not support gradients */
	

} 

.rights{
	color:white;
	text-align: center;
}

/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}


/*------------------AboutPage-----------------*/

.row-about{
	font-family:  sans-serif;
	color:#BF1B27;;
	padding-bottom:20px;
	text-align:center;
	letter-spacing:10px;
}

.row-blank{
	background: white;
	padding-bottom: 60px;
}

.img-jamar{
	border-radius:0;
	width: 248px;
	height: 235px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption{
	font-weight: bold;
	font-family: Verdana;
	position:relative;
	padding-top: 10px;
}

.description{
	padding-top:15px;
	font-size: 17px;
	font-family: Arial;
	letter-spacing:.25px;
   	line-height:170%;
}

/*------------------KPSignUpPage-----------------*/

#signUpA{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signUpA h3{
	text-align:center;
}

/*------------------SignInPage-----------------*/

.row-blank-signUp{
	background: white;
	padding-bottom: 20px;
	margin:0;
}

.row-form h3{
	text-align:center;
	padding-bottom:30px;
}

.altSignIn h4{
	display:inline;
}

.altSignIn ul {
	display:inline;
}
.altSignIn ul li {
	
	display:inline-block;
	list-style-type: none;
}

.altSignIn ul li a{
	padding:7px;
	margin-right:3px;
}
.altSignIn ul li a:hover{
     background:#337AB7;
     color:#FFFFFF;
}

.signUp{
	padding-top:10px;
}

#form{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------MediaOutletSignUpPage-----------------*/

#mediaOutletSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:#FFFFFF;
}

#mediaOutletSignUp h3{
	text-align:center;
}

/*------------------NewsReaderSignUpPage-----------------*/

#newsreaderSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newsreaderSignUp h3{
	text-align:center;
}

/*------------------NewsmakerSignUpPage-----------------*/

#newsmakerSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#newsmakerSignUp h3{
	text-align:center;
}

/*------------------FinalSignUpPage-----------------*/

#finalSignUp{
	margin-top:20px;
	border: .5px solid #E1E1E1;
	padding: 40px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#finalSignUp h3{
	text-align:center;
}

/*------------------DescriptiveNewsPage-----------------*/

#newsHeading{
	color:#BF1B27;
}

.date{
	color:#B6B7B8;
}

#news{
   font-family:sans-serif;
   font-size:17px;
   letter-spacing:.25px;
   line-height:170%;
   padding:10px;
   text-align: left;
}

.feedbackHeading{
	border-bottom:1px solid #B0B0B0;
}

.relatedNews{
text-align:center;
}

.relatedNewsHeading{
	border-bottom:1px solid #B0B0B0;
	padding:20px;
}

.publishButton{
	padding:15px 30px;
	background:#BF1B27;
	color:white;
	text-decoration:none;
	cursor: pointer;
	border: none; 
}

/*------------------NewsReaderDashboardPage-----------------*/

#profileImage{
	width: 220px;
	height: 210px;
	margin: 0 auto;
	display:block;
}

.editButton{
	padding:15px 30px;
	background:#BF1B27;
	color:white;
	text-decoration:none;
	cursor: pointer;
	border: none; 
	text-align: center;
	margin: 0 auto;
	display:block;
}
#newsReaderName{
	color:#BF1B27;
}

.information{
	text-align:left;
	font-family:sans-serif;
    font-size:15px;
    letter-spacing:.25px;
    line-height:170%;

}

/*------------------NewsReaderPublicProfilePage-----------------*/

.reportButton{
	padding:7px 22px;
	background:#B5B5B5;
	color:white;
	text-decoration:none;
	cursor: pointer;
	border: none; 
	text-align: center;
	
}

